body{
    width: 100%;
    text-align: center;
    margin: auto;
}
.app{
    margin:1rem auto 1rem auto;
    width: 500px;
    background-color: lightgray;
    text-align: center;
    border-radius: 1rem ;
    border: 0.1rem solid black;
}